.button {
  color: var(--backgroundColor);
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  width: 5rem;
  height: 4rem;
}

.pending {
  background-color: rgb(255, 179, 0);
  font-size: 1rem;
}

.done {
  background-color: var(--check-color);
  color: rgb(32, 32, 154);
  font-size: 2rem;
  transition: all 0.4s ease-out;
}


