.navbar {
  display: flex;
  justify-content: center;
  column-gap: 0.8rem;
  align-items: center;
  padding: 1rem 0;
}

.navbar a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* media query */
@media (min-width: 425px) {
  .navbar {
    column-gap: 1rem;
  }
  .navbar a {
    font-size: 1.1rem;
  }

}

@media (min-width: 768px){
  .navbar {
    padding-bottom: 2rem;
    column-gap: 3rem;
  }
  .navbar a {
    font-size: 1.5rem;
  }
}