:root {
  --main-font: sans-serif;
  --font-size: 1rem;
  --backgroundColor: rgb(13, 15, 46);
  --main-color: white;
  --second-color: rgb(87, 83, 83);
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --check-color: rgb(8, 212, 8);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundColor);
}

.app {
  color: var(--main-color);
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: var(--main-color);
  text-decoration: none;
}